doctype html
html(ng-app="admin" ng-controller="defaultCtrl")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
		script(src="//localhost:35729/livereload.js" type="text/javascript")
		script(src="/javascripts/jquery.min.js" type="text/javascript")
	body
		header.row
			#logo.col-lg-7
			#top-menu.col-lg-5


		block content



		script(src="/javascripts/bootstrap.min.js" type="text/javascript")
		script(src="/javascripts/angular.min.js" type="text/javascript")
		script(src="/javascripts/app.admin.min.js" type="text/javascript")